/* Webfont: Thunder-LCItalic */@font-face {
    font-family: 'ThunderIta';
    src: url('Thunder-LCItalic.eot'); /* IE9 Compat Modes */
    src: url('Thunder-LCItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Thunder-LCItalic.woff') format('woff'), /* Modern Browsers */
         url('Thunder-LCItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-LCItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

