<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-90</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>v</key>
		<integer>-11</integer>
		<key>w</key>
		<integer>-11</integer>
		<key>y</key>
		<integer>-11</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>bracketright</key>
		<integer>52</integer>
		<key>comma</key>
		<integer>-11</integer>
		<key>period</key>
		<integer>-11</integer>
		<key>quotedblleft</key>
		<integer>42</integer>
		<key>quotedblright</key>
		<integer>69</integer>
		<key>quoteleft</key>
		<integer>42</integer>
		<key>quoteright</key>
		<integer>85</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>comma</key>
		<integer>-11</integer>
		<key>period</key>
		<integer>-11</integer>
		<key>quotedblleft</key>
		<integer>14</integer>
		<key>quoteleft</key>
		<integer>14</integer>
	</dict>
	<key>guillemotleft</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
	</dict>
	<key>guillemotright</key>
	<dict>
		<key>T</key>
		<integer>-87</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>v</key>
		<integer>-11</integer>
		<key>w</key>
		<integer>-11</integer>
		<key>y</key>
		<integer>-11</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>T</key>
		<integer>-58</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>u</key>
		<integer>-6</integer>
		<key>v</key>
		<integer>-11</integer>
		<key>y</key>
		<integer>-11</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>u</key>
		<integer>-6</integer>
		<key>v</key>
		<integer>-11</integer>
		<key>w</key>
		<integer>-11</integer>
		<key>y</key>
		<integer>-11</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>comma</key>
		<integer>-11</integer>
		<key>period</key>
		<integer>-11</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>comma</key>
		<integer>-32</integer>
		<key>period</key>
		<integer>-32</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>comma</key>
		<integer>-11</integer>
		<key>period</key>
		<integer>-11</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>D</key>
		<integer>0</integer>
		<key>F</key>
		<integer>0</integer>
		<key>O</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
		<key>guillemotright</key>
		<integer>0</integer>
		<key>m</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>w</key>
		<integer>0</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>f</key>
		<integer>0</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-105</integer>
		<key>period</key>
		<integer>-105</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-105</integer>
		<key>period</key>
		<integer>-105</integer>
	</dict>
</dict>
</plist>
