@font-face {
    font-family: 'bluu';
    src: url('bluunext-bold-webfont.woff2') format('woff2'),
         url('bluunext-bold-webfont.woff') format('woff'),
         url('bluunext-bold.ttf') format('truetype'),
         url('bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bluu';
    src: url('bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('bluunext-bolditalic-webfont.woff') format('woff'),
         url('bluunext-bolditalic.ttf') format('truetype'),
         url('bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}
