/* Webfont: Sharis-Bold */@font-face {
    font-family: 'Sharis';
    src: url('Sharis-Bold.eot'); /* IE9 Compat Modes */
    src: url('Sharis-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Sharis-Bold.woff') format('woff'), /* Modern Browsers */
         url('Sharis-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Sharis-Bold.svg#Sharis-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

