@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  src: url(https://gitlab.com/bonjour-monde/fonderie/syne-typeface/raw/master/Webfonts/Syne-Regular.woff2) format('woff2');
}

