<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>89397F8B-8D61-453A-A508-64C283F9DD74</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/Doug/GitHub/Bagnard/Bagnard.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>A</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Adieresis</string>
				<string>Agrave</string>
				<string>Aring</string>
				<string>Atilde</string>
				<string>AE</string>
				<string>B</string>
				<string>C</string>
				<string>Ccedilla</string>
				<string>D</string>
				<string>E</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Egrave</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Igrave</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>Ntilde</string>
				<string>O</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Odieresis</string>
				<string>Ograve</string>
				<string>Otilde</string>
				<string>OE</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Ugrave</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Yacute</string>
				<string>Ydieresis</string>
				<string>Z</string>
				<string>a</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>adieresis</string>
				<string>agrave</string>
				<string>aring</string>
				<string>atilde</string>
				<string>ae</string>
				<string>b</string>
				<string>c</string>
				<string>ccedilla</string>
				<string>d</string>
				<string>e</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>egrave</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>dotlessi</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>igrave</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>ntilde</string>
				<string>o</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>odieresis</string>
				<string>ograve</string>
				<string>otilde</string>
				<string>oe</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>ugrave</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>z</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>colon</string>
				<string>comma</string>
				<string>exclam</string>
				<string>period</string>
				<string>question</string>
				<string>semicolon</string>
				<string>slash</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>hyphen</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>space</string>
				<string>Euro</string>
				<string>dollar</string>
				<string>at</string>
				<string>ampersand</string>
				<string>acute</string>
				<string>cedilla</string>
				<string>circumflex</string>
				<string>dieresis</string>
				<string>grave</string>
				<string>ring</string>
				<string>tilde</string>
				<string>acute.uc</string>
				<string>cedilla.uc</string>
				<string>circumflex.uc</string>
				<string>dieresis.uc</string>
				<string>grave.uc</string>
				<string>ring.uc</string>
				<string>tilde.uc</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>G</string>
		<string>R</string>
		<string>E</string>
		<string>S</string>
		<string>N</string>
		<string>T</string>
		<string>a</string>
		<string>n</string>
		<string>r</string>
		<string>t</string>
		<string>e</string>
		<string>s</string>
		<string>g</string>
		<string>f</string>
		<string>l</string>
		<string>h</string>
		<string>u</string>
		<string>i</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>H</string>
		<string>I</string>
		<string>F</string>
		<string>O</string>
		<string>B</string>
		<string>A</string>
		<string>C</string>
		<string>V</string>
		<string>P</string>
		<string>Q</string>
		<string>p</string>
		<string>m</string>
		<string>q</string>
		<string>j</string>
		<string>v</string>
		<string>k</string>
		<string>o</string>
		<string>D</string>
		<string>M</string>
		<string>L</string>
		<string>J</string>
		<string>K</string>
		<string>U</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>space</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>Z</string>
		<string>comma</string>
		<string>period</string>
		<string>six</string>
		<string>five</string>
		<string>two</string>
		<string>one</string>
		<string>three</string>
		<string>nine</string>
		<string>four</string>
		<string>seven</string>
		<string>eight</string>
		<string>acute</string>
		<string>eacute</string>
		<string>grave</string>
		<string>egrave</string>
		<string>aacute</string>
		<string>agrave</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>quotedblright</string>
		<string>quotedblleft</string>
		<string>exclam</string>
		<string>question</string>
		<string>hyphen</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>yacute</string>
		<string>quoteleft</string>
		<string>guillemotright</string>
		<string>ampersand</string>
		<string>slash</string>
		<string>at</string>
		<string>zero</string>
		<string>circumflex</string>
		<string>acircumflex</string>
		<string>ecircumflex</string>
		<string>ucircumflex</string>
		<string>acute.uc</string>
		<string>grave.uc</string>
		<string>Eacute</string>
		<string>Egrave</string>
		<string>circumflex.uc</string>
		<string>Ecircumflex</string>
		<string>cedilla</string>
		<string>ccedilla</string>
		<string>dieresis</string>
		<string>edieresis</string>
		<string>adieresis</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>oacute</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>udieresis</string>
		<string>dieresis.uc</string>
		<string>Adieresis</string>
		<string>Edieresis</string>
		<string>Odieresis</string>
		<string>Udieresis</string>
		<string>Idieresis</string>
		<string>Aacute</string>
		<string>Oacute</string>
		<string>Uacute</string>
		<string>Iacute</string>
		<string>Agrave</string>
		<string>Ograve</string>
		<string>Ugrave</string>
		<string>Igrave</string>
		<string>Acircumflex</string>
		<string>Ocircumflex</string>
		<string>Ucircumflex</string>
		<string>Icircumflex</string>
		<string>ydieresis</string>
		<string>Ydieresis</string>
		<string>oe</string>
		<string>ae</string>
		<string>cedilla.uc</string>
		<string>Ccedilla</string>
		<string>ring</string>
		<string>aring</string>
		<string>ring.uc</string>
		<string>Aring</string>
		<string>tilde</string>
		<string>ntilde</string>
		<string>atilde</string>
		<string>otilde</string>
		<string>Yacute</string>
		<string>tilde.uc</string>
		<string>Atilde</string>
		<string>Otilde</string>
		<string>Ntilde</string>
		<string>OE</string>
		<string>AE</string>
		<string>Euro</string>
		<string>dollar</string>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>comma</string>
		<string>exclam</string>
		<string>period</string>
		<string>question</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>hyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>space</string>
		<string>Euro</string>
		<string>dollar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>grave</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acute.uc</string>
		<string>cedilla.uc</string>
		<string>circumflex.uc</string>
		<string>dieresis.uc</string>
		<string>grave.uc</string>
		<string>ring.uc</string>
		<string>tilde.uc</string>
	</array>
</dict>
</plist>
