@font-face {
    font-family: 'lunchtype22regular';
    src: url('lunchtype22-regular-webfont.eot');
    src: url('lunchtype22-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lunchtype22-regular-webfont.woff2') format('woff2'),
         url('lunchtype22-regular-webfont.woff') format('woff'),
         url('lunchtype22-regular-webfont.ttf') format('truetype'),
         url('lunchtype22-regular-webfont.svg#lunchtype22regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lunchtype22medium';
    src: url('lunchtype22-medium-webfont.eot');
    src: url('lunchtype22-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('lunchtype22-medium-webfont.woff2') format('woff2'),
         url('lunchtype22-medium-webfont.woff') format('woff'),
         url('lunchtype22-medium-webfont.ttf') format('truetype'),
         url('lunchtype22-medium-webfont.svg#lunchtype22medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lunchtype22light';
    src: url('lunchtype22-light-webfont.eot');
    src: url('lunchtype22-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('lunchtype22-light-webfont.woff2') format('woff2'),
         url('lunchtype22-light-webfont.woff') format('woff'),
         url('lunchtype22-light-webfont.ttf') format('truetype'),
         url('lunchtype22-light-webfont.svg#lunchtype22light') format('svg');
    font-weight: normal;
    font-style: normal;

}