<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>119329DF-C854-46E0-93EC-7E8A22DFCA4F</key>
			<dict>
				<key>HH</key>
				<string>74</string>
				<key>HV</key>
				<string>78</string>
				<key>OH</key>
				<string>72</string>
				<key>OV</key>
				<string>79</string>
				<key>nV</key>
				<string>75</string>
				<key>nd</key>
				<string>67</string>
				<key>oH</key>
				<string>67</string>
				<key>oV</key>
				<string>78</string>
				<key>tH</key>
				<string>67</string>
			</dict>
			<key>35616FF6-3D9C-499B-B113-AC9E0DB5842A</key>
			<dict>
				<key>HH</key>
				<integer>74</integer>
				<key>HV</key>
				<string>78</string>
				<key>OH</key>
				<string>72</string>
				<key>OV</key>
				<integer>79</integer>
				<key>nV</key>
				<string>75</string>
				<key>nd</key>
				<integer>67</integer>
				<key>oH</key>
				<integer>67</integer>
				<key>oV</key>
				<string>78</string>
				<key>tH</key>
				<string>67</string>
			</dict>
			<key>3B040282-CF47-4846-BCAF-7BFF90FB63BC</key>
			<dict>
				<key>HH</key>
				<string>36</string>
				<key>HV</key>
				<string>36</string>
				<key>OH</key>
				<string>34</string>
				<key>OV</key>
				<string>36</string>
				<key>nV</key>
				<string>36</string>
				<key>nd</key>
				<string>34</string>
				<key>oH</key>
				<string>36</string>
				<key>oV</key>
				<string>36</string>
				<key>tH</key>
				<string>36</string>
			</dict>
			<key>84328D8E-4D54-44EF-AF5C-0364B1C28646</key>
			<dict>
				<key>HH</key>
				<string>36</string>
				<key>HV</key>
				<string>36</string>
				<key>OH</key>
				<string>36</string>
				<key>OV</key>
				<string>36</string>
				<key>nV</key>
				<string>36</string>
				<key>nd</key>
				<string>34</string>
				<key>oH</key>
				<string>36</string>
				<key>oV</key>
				<string>36</string>
				<key>tH</key>
				<string>36</string>
			</dict>
			<key>88AF04C7-891B-4BE3-8AB1-6195D630646B</key>
			<dict>
				<key>HH</key>
				<string>173</string>
				<key>HV</key>
				<string>194</string>
				<key>OH</key>
				<string>176</string>
				<key>OV</key>
				<string>200</string>
				<key>nV</key>
				<string>193</string>
				<key>nd</key>
				<string>160</string>
				<key>oH</key>
				<string>160</string>
				<key>oV</key>
				<string>182</string>
				<key>tH</key>
				<string>152</string>
			</dict>
			<key>A0D976AB-773B-4D3A-9F7E-7A0C42AF1E7B</key>
			<dict>
				<key>HH</key>
				<string>173</string>
				<key>HV</key>
				<string>194</string>
				<key>OH</key>
				<string>176</string>
				<key>OV</key>
				<string>200</string>
				<key>nV</key>
				<string>193</string>
				<key>nd</key>
				<string>160</string>
				<key>oH</key>
				<string>160</string>
				<key>oV</key>
				<string>182</string>
				<key>tH</key>
				<string>152</string>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetHorizontal</key>
		<real>55.0</real>
		<key>GSOffsetProportional</key>
		<true/>
		<key>GSOffsetVertical</key>
		<real>22.0</real>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>88AF04C7-891B-4BE3-8AB1-6195D630646B</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Black</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>900</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>h</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>jdotless</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>a.alt</string>
		<string>aacute.alt</string>
		<string>abreve.alt</string>
		<string>acircumflex.alt</string>
		<string>adieresis.alt</string>
		<string>agrave.alt</string>
		<string>amacron.alt</string>
		<string>aogonek.alt</string>
		<string>aring.alt</string>
		<string>atilde.alt</string>
		<string>ae_upper</string>
		<string>k_arms</string>
		<string>thorn_stem</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>fourperemspace</string>
		<string>narrownbspace</string>
		<string>sixperemspace</string>
		<string>space</string>
		<string>threeperemspace</string>
		<string>cent</string>
		<string>dollar</string>
		<string>euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>asciitilde</string>
		<string>asciicircum</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>dotaccentcomb</string>
		<string>commaaccentcomb</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>lowercase_r_shoulder</string>
		<string>lowercase_loop</string>
		<string>lowercase_nh_shoulder</string>
		<string>lowercase_loop_reverse</string>
		<string>ascender</string>
		<string>descender</string>
		<string>lowercase_m_shoulder</string>
		<string>capital_V</string>
		<string>_areas</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>Edotbelow</key>
		<string>uni1EB8</string>
		<key>Etilde</key>
		<string>uni1EBC</string>
		<key>Gcommaaccent</key>
		<string>uni0122</string>
		<key>Kcommaaccent</key>
		<string>uni0136</string>
		<key>Ncommaaccent</key>
		<string>uni0145</string>
		<key>Rcommaaccent</key>
		<string>uni0156</string>
		<key>Tcedilla</key>
		<string>uni0162</string>
		<key>commaaccentcomb</key>
		<string>uni0326</string>
		<key>dotaccentcomb</key>
		<string>uni0307</string>
		<key>edotbelow</key>
		<string>uni1EB9</string>
		<key>emspace</key>
		<string>uni2003</string>
		<key>enspace</key>
		<string>uni2002</string>
		<key>etilde</key>
		<string>uni1EBD</string>
		<key>euro</key>
		<string>Euro</string>
		<key>fourperemspace</key>
		<string>uni2005</string>
		<key>gcommaaccent</key>
		<string>uni0123</string>
		<key>guillemetleft</key>
		<string>guillemotleft</string>
		<key>guillemetright</key>
		<string>guillemotright</string>
		<key>idotless</key>
		<string>dotlessi</string>
		<key>jdotless</key>
		<string>uni0237</string>
		<key>kcommaaccent</key>
		<string>uni0137</string>
		<key>narrownbspace</key>
		<string>uni202F</string>
		<key>ncommaaccent</key>
		<string>uni0146</string>
		<key>rcommaaccent</key>
		<string>uni0157</string>
		<key>sixperemspace</key>
		<string>uni2006</string>
		<key>tcedilla</key>
		<string>uni0163</string>
		<key>threeperemspace</key>
		<string>uni2004</string>
	</dict>
	<key>public.skipExportGlyphs</key>
	<array>
		<string>ae_upper</string>
		<string>k_arms</string>
		<string>thorn_stem</string>
		<string>lowercase_r_shoulder</string>
		<string>lowercase_loop</string>
		<string>lowercase_nh_shoulder</string>
		<string>lowercase_loop_reverse</string>
		<string>ascender</string>
		<string>descender</string>
		<string>lowercase_m_shoulder</string>
		<string>capital_V</string>
		<string>_areas</string>
	</array>
</dict>
</plist>
