/* Webfont: Sharis-Medium */@font-face {
    font-family: 'SharisMed';
    src: url('Sharis-Medium.eot'); /* IE9 Compat Modes */
    src: url('Sharis-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Sharis-Medium.woff') format('woff'), /* Modern Browsers */
         url('Sharis-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Sharis-Medium.svg#Sharis-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

