<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>OE</string>
	</array>
	<key>public.kern1.Eth</key>
	<array>
		<string>Dcroat</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
	</array>
	<key>public.kern1.I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
	</array>
	<key>public.kern1.Lslash</key>
	<array>
		<string>Lslash</string>
	</array>
	<key>public.kern1.M</key>
	<array>
		<string>M</string>
	</array>
	<key>public.kern1.N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Otilde</string>
	</array>
	<key>public.kern1.Oslash</key>
	<array>
		<string>Oslash</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern1.Q</key>
	<array>
		<string>Q</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
	</array>
	<key>public.kern1.Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>public.kern1.a.alt</key>
	<array>
		<string>a.alt</string>
		<string>aacute.alt</string>
		<string>abreve.alt</string>
		<string>acircumflex.alt</string>
		<string>adieresis.alt</string>
		<string>agrave.alt</string>
		<string>amacron.alt</string>
		<string>aogonek.alt</string>
		<string>aring.alt</string>
		<string>atilde.alt</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>b</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>d</string>
	</array>
	<key>public.kern1.dcaron</key>
	<array>
		<string>dcaron</string>
	</array>
	<key>public.kern1.dcroat</key>
	<array>
		<string>dcroat</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>oe</string>
	</array>
	<key>public.kern1.eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
	</array>
	<key>public.kern1.germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>public.kern1.h</key>
	<array>
		<string>h</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>j</string>
		<string>jdotless</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
	</array>
	<key>public.kern1.lcaron</key>
	<array>
		<string>lcaron</string>
	</array>
	<key>public.kern1.lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>public.kern1.m</key>
	<array>
		<string>m</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>otilde</string>
	</array>
	<key>public.kern1.oslash</key>
	<array>
		<string>oslash</string>
	</array>
	<key>public.kern1.p</key>
	<array>
		<string>p</string>
	</array>
	<key>public.kern1.q</key>
	<array>
		<string>q</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>tcedilla</string>
	</array>
	<key>public.kern1.tcaron</key>
	<array>
		<string>tcaron</string>
	</array>
	<key>public.kern1.thorn</key>
	<array>
		<string>thorn</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern1.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
	</array>
	<key>public.kern2.B</key>
	<array>
		<string>B</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>public.kern2.D</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
	</array>
	<key>public.kern2.E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
	</array>
	<key>public.kern2.Eth</key>
	<array>
		<string>Eth</string>
		<string>Dcroat</string>
	</array>
	<key>public.kern2.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern2.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>H</string>
	</array>
	<key>public.kern2.I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern2.K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>public.kern2.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
	</array>
	<key>public.kern2.Lslash</key>
	<array>
		<string>Lslash</string>
	</array>
	<key>public.kern2.M</key>
	<array>
		<string>M</string>
	</array>
	<key>public.kern2.N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Otilde</string>
		<string>OE</string>
	</array>
	<key>public.kern2.Oslash</key>
	<array>
		<string>Oslash</string>
	</array>
	<key>public.kern2.P</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern2.Q</key>
	<array>
		<string>Q</string>
	</array>
	<key>public.kern2.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
	</array>
	<key>public.kern2.Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>public.kern2.a.alt</key>
	<array>
		<string>a.alt</string>
		<string>aacute.alt</string>
		<string>abreve.alt</string>
		<string>acircumflex.alt</string>
		<string>adieresis.alt</string>
		<string>agrave.alt</string>
		<string>amacron.alt</string>
		<string>aogonek.alt</string>
		<string>aring.alt</string>
		<string>atilde.alt</string>
	</array>
	<key>public.kern2.b</key>
	<array>
		<string>b</string>
	</array>
	<key>public.kern2.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
	</array>
	<key>public.kern2.d</key>
	<array>
		<string>d</string>
	</array>
	<key>public.kern2.dcaron</key>
	<array>
		<string>dcaron</string>
	</array>
	<key>public.kern2.dcroat</key>
	<array>
		<string>dcroat</string>
	</array>
	<key>public.kern2.e</key>
	<array>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
	</array>
	<key>public.kern2.eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
	</array>
	<key>public.kern2.germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>h</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
		<string>jdotless</string>
	</array>
	<key>public.kern2.k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>public.kern2.l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
	</array>
	<key>public.kern2.lcaron</key>
	<array>
		<string>lcaron</string>
	</array>
	<key>public.kern2.lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>public.kern2.m</key>
	<array>
		<string>m</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>otilde</string>
		<string>oe</string>
	</array>
	<key>public.kern2.oslash</key>
	<array>
		<string>oslash</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>p</string>
	</array>
	<key>public.kern2.q</key>
	<array>
		<string>q</string>
	</array>
	<key>public.kern2.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tcedilla</string>
	</array>
	<key>public.kern2.tcaron</key>
	<array>
		<string>tcaron</string>
	</array>
	<key>public.kern2.thorn</key>
	<array>
		<string>thorn</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
	</array>
	<key>public.kern2.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
