@font-face {
    font-family: 'Le Murmure_Regular';
    src:    url('Le_Murmure-Regular_web.eot');
    src:    url('Le_Murmure-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('Le_Murmure-Regular_web.woff') format('woff'),
            url('Le_Murmure-Regular_web.woff2') format('woff2'),
            url('Le_Murmure-Regular_web.ttf') format('truetype'),
            url('Le_Murmure-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
