/* Webfont: Thunder-MediumHC */@font-face {
    font-family: 'ThunderMed';
    src: url('Thunder-MediumHC.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-MediumHC.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

