/* Webfont: Thunder-ThinLC */@font-face {
    font-family: 'ThunderThin';
    src: url('Thunder-ThinLC.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-ThinLC.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

