/* Webfont: Thunder-LightLC */@font-face {
    font-family: 'ThunderLight';
    src: url('Thunder-LightLC.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-LightLC.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

