/* Webfont: Thunder-BlackHC */@font-face {
    font-family: 'ThunderBlack';
    src: url('Thunder-BlackHC.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-BlackHC.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

