/* Webfont: Thunder-ExtraLightHCItalic */@font-face {
    font-family: 'ThunderExtLtIta';
    src: url('Thunder-ExtraLightHCItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-ExtraLightHCItalic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

