/* Webfont: Thunder-ExtraLightLC */@font-face {
    font-family: 'ThunderExtLt';
    src: url('Thunder-ExtraLightLC.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-ExtraLightLC.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

