/* Webfont: Thunder-LC */@font-face {
    font-family: 'Thunder';
    src: url('Thunder-LC.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-LC.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

