/* Webfont: Thunder-LCItalic */@font-face {
    font-family: 'ThunderIta';
    src: url('Thunder-LCItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-LCItalic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

