/* Webfont: Thunder-BlackLCItalic */@font-face {
    font-family: 'ThunderBlackIta';
    src: url('Thunder-BlackLCItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-BlackLCItalic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

