/* Webfont: Thunder-SemiBoldLC */@font-face {
    font-family: 'ThunderSemBd';
    src: url('Thunder-SemiBoldLC.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-SemiBoldLC.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

