/* Webfont: Thunder-LightHC */@font-face {
    font-family: 'ThunderLight';
    src: url('Thunder-LightHC.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-LightHC.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

